/*set fullscreen */
.fullin .container {
	width: [[setting:fullscreenwidth]];
}

.sbll {
	display: none;
}

.fullin .sbll {
	display: inherit;
}

.fullin .hbll {
	display: none;
}

.zoomin #block-region-side-post {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    margin-left: 0;
    display: none;
}
.zoomin #region-main, .zoomin #region-bs-main-and-pre {
    width: 100% !important;
    margin-left: 0px;
}

.sbl {
	display: none;
}

.zoomin .sbl {
	display: inherit;
}

.zoomin .hbl {
	display: none;
}